# -----------------------------
# ADAPTIVE-PARTICLEPHYSICS-TRIGGER .gitignore
# -----------------------------

# === Datasets ===
# Ignore all local data files (Zenodo-hosted)
Data/*.h5
Data/**/*.h5
Data/python/*
Data/*.pdf
Data/*.png
Data/python/
# === Outputs / Plots ===
runs/
results/
figs/
*.pdf
outputs/

# === Temporary / Cache ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.log
*.swp
.DS_Store
Thumbs.db

# === Python / Conda ===
.env
.venv
venv/
env/
*.egg-info/
*.egg
*.hdf5
*.h5
*.ckpt

# === Jupyter / Notebooks ===
.ipynb_checkpoints/
*.ipynb

# === IDE / Editor ===
.vscode/
.idea/
*.code-workspace

# === System / Mac ===
.DS_Store
.AppleDouble
.LSOverride

# Autoencoder models
*.keras

# Large numpy results
*.npz

Data_SingleTrigger.py
Run_SingleTrigger.py


paper/